body {
    font-size: 4.6mm;
}

.cards-container {
    padding-top: 39.5mm;
    width: 364mm;
    padding-left: 28mm;
}

.card-outline-box {
    width: 94.0mm;
    margin-top: 7.5mm;
    margin-bottom: 7.5mm;
    margin-right: 3.5mm;
    margin-left: 3.5mm;
}

.card-title-box,
.card-main-box,
.card-border {
    width: 100%;
    border-style: solid;
    border-width: 0.6mm;
    padding-left: 5.0mm;
    padding-right: 5.0mm;
}

.card-title-box {
    height: 19.5mm;
    border-top-left-radius: 6.0mm;
    border-top-right-radius: 6.0mm;
    border-bottom-style: none;
    margin-bottom: 0mm;
    background-color: gainsboro !important;
    padding-top: 8.0mm;
    padding-bottom: 1.5mm;
}

.card-border {
    height: 1.0mm;
    border-top-style: none;
    border-bottom-style: none;
}

.card-main-box {
    height: 113.5mm;
    border-bottom-left-radius: 6.0mm;
    border-bottom-right-radius: 6.0mm;
    border-top-style: none;
    margin-top: 0mm;
    padding-top: 4.0mm;
    align-content: stretch;
}