body {
    font-size: 1em;
    font-family: "Microsoft Sans serif", sans-serif;
    letter-spacing: 0.02em;
    font-feature-settings: "palt";
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-outline-box {
    width: 18em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 3em;
    margin-left: 1em;
}

.card-title-box,
.card-main-box {
    width: 100%;
    height: 2.5em;
    border-style: solid;
    border-width: 0.1em;
    padding: 1em;
}

.card-title-box {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-style: none;
    margin-bottom: 0em;
    background-color: gainsboro;
    padding-top: 1.3em;
    padding-bottom: 0.3em;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.card-title-box h3.skill-class,
.card-title-box h2.skill-name {
    font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

.card-title-box h3.skill-class {
    font-size: 1.1em;
    margin-bottom: 0.18em;
}

.card-title-box h2.skill-name {
    font-size: 1.7em;
    flex: 1;
}

.card-title-box h2.skill-name-long {
    font-size: 1.6em;
    letter-spacing: -0.1em;
}

.card-main-box {
    height: 22em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-style: none;
    margin-top: 0em;
    padding-top: 0.8em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

.card-main-box p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

.inner-horizontal-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inner-horizontal-box p {
    width: 50%;
}

p.timing::before {
    content: "タイミング：";
    font-weight: bold;
}

p.judge::before {
    content: "判定：";
    font-weight: bold;
}

p.target::before {
    content: "対象：";
    font-weight: bold;
}

p.effect-range::before {
    content: "射程：";
    font-weight: bold;
}

p.skill-cost::before {
    content: "コスト：";
    font-weight: bold;
}

p.skill-level-bound::before {
    content: "ＳＬ上限：";
    font-weight: bold;
}

p.limitation::before {
    content: "使用条件：";
    font-weight: bold;
}

p.effect::before {
    content: "効果：";
    font-weight: bold;
}

p.critical::before {
    content: "クリティカル：";
    font-weight: bold;
}

p.flavor::before {
    content: "　";
    font-weight: bold;
}