body {
    font-size: 4.5mm;
}

.cards-container {
    padding-top: 0mm;
    width: 297mm;
    padding-left: 0mm;
}

.card-outline-box {
    width: 96.0mm;
    margin-top: 0mm;
    margin-bottom: 0mm;
    margin-right: 0mm;
    margin-left: 0mm;
    background-color: #202020;
    border-radius: 4.0mm;
    padding: 5mm;
}

.card-title-box,
.card-main-box,
.card-border {
    width: 100%;
    padding-left: 5.0mm;
    padding-right: 5.0mm;
}

.card-title-box {
    height: 14.5mm;
    margin-bottom: 0mm;
    background-color: gainsboro !important;
    padding-top: 4.0mm;
    padding-bottom: 0.5mm;
}

.card-border {
    height: 3.0mm;
}

.card-main-box {
    height: 108.5mm;
    margin-top: 0mm;
    padding-top: 3.0mm;
    background-color: white !important;
}